body {
	font-size: 10pt;
	font-family: calibri, arial;
}

h1 {
	font-family: calibri, arial;
	text-align: center;
	font-size: 50px;
	margin-bottom: 10px;
	margin-top: 20px
}

#container {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
}

.slr {
	height: 30px;
	width: 195px;
	text-align: center;
	line-height: 20px;
	font-family: calibri, sans-serif, arial;
	font-size: 18px;
	background-color: #77b55a;
	border-style: none;
	border: 0px;
	border-radius: 5px;
}

.linethrough {
	text-decoration: line-through;
}

.noLinethrough {
	text-decoration: none;
}

#saveBut {
	margin-right: 3px;
	margin-left: 1px;
}

#resetBut {
	margin-left: 3px;

}

#searchBar {
	height: 40px;
	margin-bottom: 10px;
}

input {
	margin-left: 3px;
	width: 500px;
	height: 40px;
	font-size: 30px;
	border: 1px solid #ccc; 
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	padding-left: 10px;
	padding-right: 0px;
	float: left;
}

#buttonAdd
{
	float: right;
	padding-left: 0px;
	padding-right: 0px;
	margin-right: 3px;
	width: 82px;
	height: 44px;
	text-align: center;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-style: none;
	border: 0px;
	background-color: #77b55a;
	font-size: 20px;
}

#todoList {
	font-size: 30px;
	font-style: calibri, sans-serif;
	margin-top: 2px;
	padding-left: 0px;
}

.toDoEach {
	width: 583px;
	height: 40px;
	vertical-align: middle;	
	list-style: none;
	margin-left: 14px;
}

.textSpan {
	display: inline-block;
	top:0;
	height: 35px;
	font-size: 28px;
	vertical-align: top;
}

.toDoInput {
	height: 31px;
	width: 350px;
	background-color: #eee;
}

.lineButton {
	width: 42px;
	height: 35px;
	vertical-align: middle;
	float: right;
	cursor: pointer;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	background-color: #ff9932;
	background-image: url("../images/list/line.png");
}

.deleteButton {
	width: 41px;
	height: 35px;
	vertical-align: middle;
	float: right;
	cursor: pointer;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	background-image: url("../images/list/cross.png");
}

.editButton {
	width: 35px;
	height: 35px;
	cursor: pointer;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	background-image: url("../images/list/edit.png");
}
}

.dragButton {
	float: right;
	width: 30px;
	height: 35px;
}

*:focus {
	outline: none;
}